@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajoutez ces styles personnalisés pour l'effet de carte 3D */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

/* Ajout de styles pour s'assurer que KeyStats est visible */
#key-stats {
  position: relative;
  z-index: 10;
}